.italian-font{
  font-style: italic;
  font-weight: bold;
}

.no-split{
  display: inline-block;
}


.search-bar select{
  border: none;
  border-radius: 1vh;
  font-size: 2vh;
  outline: none;
  width: 100%;
  padding: 1vh;
  margin: 1rem;
}

.search-bar button{
  border: none;
  position: relative;

  margin: 1rem;
}

@media screen and (max-width: 900px) {
  .rm-img{
    display: none;
  }
}

.block{
  display: block;
}

.discover-bck{
  background-color: #e6cc5c;
  border-radius: 10px;
}

/* Style for the rounded button */
.rounded-button {
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  padding: 0.5em;
}

/* Style for the trash icon inside the button */
.rounded-button img {
  width: 40px; /* Adjust the size of the icon */
  height: 40px;
  vertical-align: middle; /* Center the icon vertically */
}

.rounded-button img:hover {
  filter: invert(0.1); /* Change the color of the icon on hover */
}

.more-text {
    display: none;
}
.read-more {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}


.bend-text {
  font-size: 2.8em;
  color: #dbb714;
  display: block;
  margin: 10px;
  transform: rotate(5deg);
  text-shadow: 5px 5px 15px rgb(255, 218, 5);
}
