.italian-font{
  font-style: italic;
  font-weight: bold;
}

.no-split{
  display: inline-block;
}

.search-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1vh 0;
}

.search-bar select{
  height: 5vh;
  border: none;
  border-radius: 1vh;
  font-size: 2vh;
  outline: none;
}

@media screen and (max-width: 900px) {
  .rm-img{
    display: none;
  }
}

.block{
  display: block;
}

.discover-bck{
  background-color: #e6cc5c;
  border-radius: 10px;
}

/* Style for the rounded button */
.rounded-button {
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  padding: 0.5em;
}

/* Style for the trash icon inside the button */
.rounded-button img {
  width: 40px; /* Adjust the size of the icon */
  height: 40px;
  vertical-align: middle; /* Center the icon vertically */
}

.rounded-button img:hover {
  filter: invert(0.1); /* Change the color of the icon on hover */
}
