.italian-font{
  font-style: italic;
  font-weight: bold;
}

.no-split{
  display: inline-block;
}

.search-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1vh 0;
}

.search-bar select{
  height: 5vh;
  border: none;
  border-radius: 1vh;
  font-size: 2vh;
  outline: none;
}

@media screen and (max-width: 900px) {
  .rm-img{
    display: none;
  }
}

.block{
  display: block;
}